/* OVERRIDES */
.section {
    width: 60vw;
    margin: auto;
}

/* PAGE TITLES */

.pageTitle {
    text-align: center;
    color: var(--primary);
    margin-bottom: 10px;
}

.subTitle {
    text-align: left;
    color: var(--gray);
    margin-top: 40px;
    margin-bottom: 20px;
}

.pageDescription {
    text-align: center;
}