@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap');

:root {
    --primary: #4eb6df;
    --secondary: #02ee8c;
    --gray: #747474;
    --bg: #1c1c1c;
    --text: #ffffff;
    --accent: #95cbe0;
    --card-color: #212121;
    --button-bg-hover: #02ee8c72;
    --nav-bg: #161616e0;
    --nav-border: #222222;
}

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: var(--bg);
    color: var(--text);
    font-family: 'Montserrat';
    font-weight: 400;
}

h1, h2, h3, h4, h5 {
    font-family: 'Space Grotesk';
    font-weight: 700;
}

/* 16px */

h1 {
    font-size: 2.489rem; /* 39.84px */
    color: var(--primary);
}

h2 {
    font-size: 2.074rem; /* 33.12px */
    color: var(--primary);
}

h3 {
    font-size: 1.728rem; /* 27.68px */
    color: var(--secondary);
}

h4 {
    font-size: 1.440rem; /* 23.04px */
    color: var(--secondary);
}

h5 {
    font-size: 1.200rem; /* 19.2px */
    color: var(--secondary);
}

small {
    font-size: 0.833rem; /* 13.28px */
    color: var(--secondary);
}

/* NAVBAR */
.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background: var(--nav-bg);
    backdrop-filter: blur(12px);
    border-bottom: 1px solid var(--nav-border);
}

.logo {
    color: var(--primary);
    font-weight: bold;
    letter-spacing: 2px;
    border-bottom: 2px solid var(--primary);
    padding-bottom: 6px;
}

#bounceTxt em {
    display: inline-block;
    font-style: normal;
}

/* Animation class added by JS */
#bounceTxt.play em {
    animation: bounce 0.6s ease;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-18px);
    }
}

/* NAV LINKS */
.nav-links a {
    color: var(--text);
    margin-left: 18px;
    text-decoration: none;
    font-size: 14px;
    position: relative;
    display: inline-block;
}

.nav-links a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -6px;
    width: 0;
    height: 2px;
    background: var(--primary);
    transition: width 0.3s ease, left 0.3s ease;
}

/* Hover anim */
.nav-links a:hover::after {
    width: 100%;
    left: 0;
}

.nav-links a.nav-active {
    color: var(--primary);
}

.nav-links a.nav-active::after {
    width: 100%;
    left: 0;
}

.nav-cta {
    padding: 6px 10px;
    border: 2px solid var(--accent);
    border-radius: 6px;
}

.nav-cta::after {
    display: none;
}

.nav-cta:hover {
    background: var(--accent);
    color: black;
    border-color: var(--accent);
}

/* LAYOUT HELPERS */
.section {
    padding: 60px 40px;
}

.section-header {
    margin-bottom: 5px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 20px;
}

/* FOOTER */
footer {
    color: var(--gray);
    padding: 25px;
    display: flex;
    justify-content: flex-end;
    position: relative;
}

footer p:first-child {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

/* COMMON CARD*/
.card {
    background: var(--card-color);
    border: 1px solid #101010;
    border-radius: 14px;
    padding: 20px;
    transition: 0.2s ease;
}

.card:hover {
    transform: translateY(-5px);
    border-color: var(--accent);
}

/* BUTTONS */
.btn {
    padding: 10px 16px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 14px;
}

.btn.primary {
    background: var(--secondary);
    color: black;
    border: 1px solid var(--secondary);

    & a {
        color: black;
        text-decoration: none;
    }
}

.btn.secondary {
    border: 1px solid var(--secondary);
    color: var(--text);
}

.btn.primary:hover {
    background: var(--button-bg-hover);
}

.btn.secondary:hover {
    background: var(--button-bg-hover);
}
