/* ========== HERO ========== */
.hero {
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}

.hero-content h1 {
    font-size: 4rem;
    color: var(--secondary);
}

.subtitle {
    color: var(--gray);
    margin-top: 10px;
}

.tagline {
    margin-top: 10px;
    font-size: 1.1rem;
}

/* BUTTONS */
.hero-buttons {
    margin-top: 20px;
    display: flex;
    gap: 15px;
    justify-content: center;
}

/* HERO GLOW (optional aesthetic layer) */
.hero-glow {
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--primary);
    filter: blur(250px);
    opacity: 0.25;
    z-index: -1;
}
