/* ========== HERO ========== */
.hero {
    height: calc(100vh - 63px); /* Full viewport height minus navbar */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}

.hero-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
}

.hero-logo {
    height: 300px;
}

.hero-content h1 {
    color: var(--primary);
}

.hero-text {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    text-align: left;
}

.tagline {
    margin-top: 10px;
    font-size: 1.1rem;
    margin-left: 3px;
}

/* BUTTONS */
.hero-buttons {
    margin-top: 20px;
    display: flex;
    gap: 15px;
    justify-content: left;
    margin-left: 3px;
}

/* HERO GLOW (optional aesthetic layer) */
.hero-glow {
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--primary);
    filter: blur(250px);
    opacity: 0.25;
    z-index: -1;
}

/* EVENTS */
.eventItem {
    background: var(--card-bg);
    border: 1px solid var(--gray);
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: stretch;
    height: fit-content;
    overflow: hidden;
}

.eventItem:hover {
    border-color: var(--accent);
}

.eventTitle {
    color: var(--primary);
    margin-bottom: 5px;
}

.eventInfo {
    padding: 20px;
}

.eventInfo strong {
    color: var(--secondary);
}

.eventDate {
    width: 150px;
    background: var(--secondary);
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.eventDate * {
    color: var(--text);
}

.eventDay {
    font-size: 4rem;
}

#eventsContainer {
    display: flex;
    flex-direction: column;
}

#sectionCount {
    margin-bottom: 20px;
}

.eventInfoSpecial {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    margin-top: 20px;
    gap: 15px;
}

.eventInfoSpecial p {
    background: var(--primary);
    width: fit-content;
    height: fit-content;
    padding: 5px 10px;
    border-radius: 20px;
}

.eventInfoIcon {
    scale: 1.2;
    margin-right: 5px;
}