/* =========================
   OFFICER FAQ
========================= */
.faqItem {
    margin-bottom: 20px;
    border-width: 2px;
    border-style: solid;
    border-image: linear-gradient(to right, transparent, var(--accent), transparent) 1;
    border-bottom: none;
    margin-top: 30px;
    margin-bottom: 50px;
}

.faqQuestion {
    font-weight: 600;
    cursor: pointer;
    position: relative;
    padding: 5px 0;
    cursor: default;
}

.faqAnswer {
    margin-top: 10px;
    padding: 0px 20px;
    color: var(--text);
    line-height: 1.5;
}

.faqSpecial {
    color: var(--secondary);
}

.faqButton {
    padding: 10px 16px;
    border-radius: 8px;
    border: 2px solid var(--secondary);
    text-decoration: none;
    font-size: 14px;
    margin-top: 20px;
    background: var(--button-bg-blue);
}

.faqButton > a {
    color: var(--text);
    text-decoration: none;
}

.officerFaq .pageTitle {
    margin-bottom: 50px;
}

.faqButtons {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.btn.primary:hover {
    border: 1px solid var(--gray);
}

.btn.secondary:hover {
    border: 1px solid var(--gray);
}